<!DOCTYPE html>
<html lang="${page.config.language || "en"}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="${page.config.blogDescription}" />
        <link rel="stylesheet" href="${page.config.basePath}styles/fonts.css">
        <link rel="stylesheet" href="${page.config.basePath}styles/main.css">
        <link rel="icon" type="image/png" href="${page.config.basePath}images/favicon.png">
        <!-- Google tag (gtag.js) -->
        ${page.config.googleAnalyticsID ? page.googleAnalytics(page.config.googleAnalyticsID) : ""}
        <title>${page.config.blogName}: Entries tagged - ${data.tag}</title>
        ${page.languagePreference()}
        ${page.openGraph("website")}
    </head>
    <body>
        <div class="content">
            <header>
                <div class="main">${page.config.blogName}</div>
                <nav>
                  <a href="${page.config.basePath}">${page.config.homeLabel || "Home"}</a>
                  <a href="${page.config.basePath}all_posts">${page.config.allPostsLabel || "All posts"}</a>
                  <a href="${page.config.basePath}about">${page.config.aboutLabel || "About"}</a>
                  <a href="${page.config.basePath}tags">${page.config.tagsLabel || "Tags"}</a>
                </nav>
            </header>
              <h1 class="page-title">Entries tagged - "${data.tag}"</h1>
              <ul class="posts">

                ${data.posts
                  .map(
                    (post) => `<li class="post">
                    <a href="${page.config.basePath}${post.path}">${post.title}</a><span class="meta">
                        ${new Date(post.date).toDateString()}</span>
                    </li>`,
                  )
                  .join("")}
              </ul>
            <footer>
              ${page.footer()}
            </footer>
        </div>
    </body>
</html>